main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 2rem;
  text-align: center;
}
div {
  padding-top: 1rem;
}
button {
  max-width: 150px;
}
#tempratur {
  font-weight: 700;
}